# Auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SECRET=
DISABLE_AUTH=false

# Database
DATABASE_URL=file:./dev.db
DIRECT_URL=

# Gemini
GEMINI_API_KEY=

# Redis (Upstash recommended for Vercel)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
